.button {
  padding: 12px;
  font-size: 16px;
  background-color: #7fc92b;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: #6ec40d;
    cursor: pointer;
  }
}
